.container-form {
  width: 100%;
  margin-top: 10%;
  box-shadow: 10px 10px 10px 1px #9b9b9b83;
}

.img-content img {
  width: 100%;
  gap: 10px;
}

.img-content {
  padding: 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ancoras {
  color: #e1e1e6;
}

.input-login {
  margin: 0 20px;
}

.input-login label {
  display: flex;
  padding: 4px;
  color: #202024;
  font-size: 18px;
  font-weight: 400;
}

.input-login input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: none;
  border: solid 2px #adadad;
  color: #7c7c8a;
  background-color: #f8f8f8;
}

input:focus{
  border: solid 2px #256de8;
  outline: none;
}

.btn-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  padding: 10px;
  gap: 10px;
  width: 60%;
}

.btn-login {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #256de8;
  color: #ffff;
  transition: 0.4s;
}

.btn-login:hover {
  background-color: #338be8;
}

